type adbroot_service,                   service_manager_type;

# Parallel space
type parallel_space_manager_service, system_api_service, system_server_service, service_manager_type;

# App Lock
type app_lock_service, system_api_service, system_server_service, service_manager_type;

# DC Dimming
type dc_dimming_service, system_api_service, system_server_service, service_manager_type;

# Linearmotor Vibrator
type linearmotor_vibrator_service, system_api_service, system_server_service, service_manager_type;
